body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.text-highlight{
    color: orange;
}
.half-width{
    float: left;
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
}